*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 218, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(124, 72, 26);
    padding: 40px;
    box-shadow: 0 1px 20px rgb(122, 122, 255) ;
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(3, 179, 3);
}
form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 6px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
button{
    border: 1px;
    border-radius: 5px;
}

button:hover{
    color: azure;
    background-color: rgb(126, 126, 126);
    
}

.potter-info{
    margin-top: 20px;
    display: none;
}
.potter-info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}
